		
		body{
				background: url(../images/1.jpg) no-repeat;
			/* background: linear-gradient(45deg, #373737 0%,#333333 0%,#404040 19%,#404040 19%,#8f8f8f 70%,#8f8f8f 81%) no-repeat; */
		}


		div#inner h3{ 
			color: #fff;		
		} 
		div.kalWrap{
			z-index: -1;
		}
		div.kal {
			background: url("/images/...jpg") 50% 50%;
		}

		ul#pos li{
			border:1px solid #CBD0D1;
			
		}


		div#inner a {
			
			color: #fff;
			

		}
		input#area{
			color: #dedede;
		}
		button {
			 background: #afb2b3;
             background-image: -webkit-linear-gradient(top, #afb2b3, #383438);
             background-image: -moz-linear-gradient(top, #afb2b3, #383438);
             background-image: -ms-linear-gradient(top, #afb2b3, #383438);
             background-image: -o-linear-gradient(top, #afb2b3, #383438);
             background-image: linear-gradient(to bottom, #afb2b3, #383438);
			 
			 -webkit-border-radius: 20;
			 -moz-border-radius: 20;
			 border-radius: 20px;
			 border: none;
			 color: #ffffff;
			 text-decoration: none;
			 color: #ffffff;
  		
		}

		button:hover {
			 background: #7d797d;
			 background-image: -webkit-linear-gradient(top, #7d797d, #000000);
  		     background-image: -moz-linear-gradient(top, #7d797d, #000000);
  		     background-image: -ms-linear-gradient(top, #7d797d, #000000);
  		     background-image: -o-linear-gradient(top, #7d797d, #000000);
  		     background-image: linear-gradient(to bottom, #7d797d, #000000); 
             text-decoration: none;
			}
		
		
		table#inside thead tr td input[type="number"]{
			color: #dedede;
		}
		select#themes {
			border-radius: 5px;
			background: linear-gradient(to bottom, #afb2b3, #383438) no-repeat;;
			border:none;
			color: #fff;
		}
		select option{
			color: #333;
			background: #ececec;
		}
		