div#description input, div#description select {
	padding: 0;
}
div.blocks {
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 10px;
	background-color: #eee;
}

div.blocks div.text-content input, 
div.blocks div.text-content textarea, 
div.blocks div.imgProps input, 
div.blocks div.imgProps textarea{
	width: 100%;
	display: block;
	padding-left: 5px!important;
	margin-bottom: 5px;
}
div.blocks div.imgProps input, 
div.blocks div.imgProps textarea{
	margin-top: 5px;
}
div.widthfullopis div.img-placeholder,
div.good_info1 div.img-placeholder{
	position: relative;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	max-width: 780px;
	min-height: 300px; 
	margin-bottom: 20px;
	border: 3px dashed #fff;
	border-radius: 4px;
}
div.widthfullopis div.img-placeholder img {
	max-width: 100%;
	background-color: transparent;
}
div.widthfullopis div.img-placeholder > label,
div.good_info1 div.img-placeholder > label{
	position: absolute;
} 

p.path input{
	transition: .4s background-color;
}
p.path>input[type="checkbox"]{
	margin-right: 5px;
	vertical-align: top;
}
p.path>input[type="checkbox"]:not(:checked)~input, 
p.path>input[type="checkbox"]:not(:checked)~select,
p.path>input[type="checkbox"]:not(:checked)~.imgProps>input,
input:disabled{
	background-color: #e2e0e0!important;
	cursor: not-allowed!important;
}
p.path{
	width: 100%!important;
	text-align: center!important;
	font-size: 1.3em;
	padding-left: 15px;
	margin-top: 5px;
}
p.path select{
	height: 25px;
	margin-left: 4px;
}
p.path>input{
	height: 25px;
	margin-left: 5px;
}
p.path>input[type="number"]{
	width:15%;
}
div.blocks textarea{
	height: 100px;
	resize: vertical;
}

div.good_info div.blocks div.img-placeholder{
	position: relative;
	display: flex;
	justify-content:center;
	align-items:center;
	min-height: 190px; 
	border: 3px dashed #fff;
	border-radius: 4px;
}
div.good_info div.blocks  div.img-placeholder img {
	max-width: 100%;
	background-color: transparent;
	z-index: 2;
}
div.good_info div.blocks  div.img-placeholder > label{
	position: absolute;
	z-index: 3;

} 

div.good_info div.blocks div.text-content, 
div.good_info div.blocks div.img-placeholder {
	width: 50%;
	/* float: left; */
} 

div.good_info div.blocks:nth-of-type(even) > div.text-content, 
div.good_info div.blocks:nth-of-type(odd) > div.img-placeholder{
	/* float: right; */
}

div.good_info div.blocks::after{
	content:"";
	display: block;
	clear: both;
}
div.good_info div.text-content input, div.good_info div.text-content textarea {
	width: 100%;
	display: block;
} 
div.good_info textarea{
	height: 150px;
	resize: none;
}
div.good_info div.dimensions {
	width: 25%;
	z-index: 3;
}
div.good_info1 {

}

div.dimensions {
	opacity: 0;
	transition: .3s opacity;
	width: 20%;
	text-align: right;
	background: rgba(202, 202, 202, .8);
	border-radius: 4px;
	padding: 5px;
}
div.img-placeholder:hover div.dimensions{
	opacity: 1;
	
}
div.img-placeholder div.dimensions input{
	background-color: transparent;
	border-radius: 4px;
	color: black;
	width: 75%;
	margin-left: 5%;
}
