<html>
<head>
	
	<!--<script data-main="js/main.js" src="js/require.js"></script>-->
	<!-- LINK BELOW MUST BE FIRST TO CHANGE THEME
	<link rel="stylesheet" type="text/css" href="css/main_1.css">
	END -->
	<link rel="stylesheet" type="text/css" href="/app/css/main.css">
	<link rel="stylesheet" type="text/css" href="/app/css/calendar.css">
	
	<meta charset="utf-8">
	
</head>
<body>
	<div class="contain">
			
		<!-- SEE ./COMPONENTS-->
	
	</div>
	<script src="/app/js/bundle.js"></script>
</body>
</html>